# idman
#idman.pkc01File=
#idman.pkc02File=
#idman.pkc03File=
idman.randomSeedSize=128
idman.maxPinLen=16
idman.minPinLen=16
#idman.authenticationMethod=PKI
# VPN の設定
vpn.mode=L3IPsec
vpn.virtualGatewayMacAddress=00-88-88-88-88-88
vpn.bindV4=true
vpn.guestIpAddressV4=192.168.100.1
vpn.guestIpSubnetV4=255.255.255.0
vpn.guestMtuV4=1400
#vpn.guestVirtualGatewayIpAddressV4=192.168.6.254
vpn.dhcpV4=true
vpn.dhcpLeaseExpiresV4=3600
vpn.dhcpDnsV4=192.168.3.254
vpn.dhcpDomainV4=sec.softether.co.jp
vpn.adjustTcpMssV4=1240
vpn.hostIpAddressV4=192.168.12.11
vpn.hostIpSubnetV4=255.255.255.0
vpn.hostMtuV4=1500
vpn.hostIpDefaultGatewayV4=192.168.12.254
vpn.optionV4ArpExpires=60
vpn.optionV4ArpDontUpdateExpires=true
vpn.vpnGatewayAddressV4=192.168.11.1
vpn.vpnAuthMethodV4=Password
vpn.vpnPasswordV4=password1
vpn.vpnIdStringV4=user1@tsukuba.ac.jp
#vpn.vpnCertFileV4=/path/to/cert
#vpn.vpnCaCertFileV4=/path/to/cacert
#vpn.vpnRsaKeyFileV4=/path/to/rsakey
vpn.vpnSpecifyIssuerV4=false
vpn.vpnPhase1ModeV4=Aggressive
vpn.vpnPhase1CryptoV4=3DES
vpn.vpnPhase1HashV4=SHA-1
vpn.vpnPhase1LifeSecondsV4=7200
vpn.vpnPhase1LifeKilobytesV4=0
vpn.vpnWaitPhase2BlankSpanV4=100
vpn.vpnPhase2CryptoV4=3DES
vpn.vpnPhase2HashV4=SHA-1
vpn.vpnPhase2LifeSecondsV4=7200
vpn.vpnPhase2LifeKilobytesV4=0
vpn.vpnConnectTimeoutV4=5
vpn.vpnIdleTimeoutV4=300
vpn.vpnPingTargetV4=192.168.3.120
vpn.vpnPingIntervalV4=12
vpn.vpnPingMsgSizeV4=32
vpn.bindV6=false
vpn.guestIpAddressPrefixV6=2000::
vpn.guestIpAddressSubnetV6=64
vpn.guestMtuV6=1400
#vpn.guestVirtualGatewayIpAddressV6=
vpn.raV6=true
vpn.raLifetimeV6=300
vpn.raDnsV6=2001:dc4::1
vpn.hostIpAddressV6=5000::1:2:3:4
vpn.hostIpAddressSubnetV6=64
vpn.hostMtuV6=1500
vpn.hostIpDefaultGatewayV6=5000::254
vpn.optionV6NeighborExpires=60
vpn.vpnGatewayAddressV6=1000::1
vpn.vpnAuthMethodV6=Password
vpn.vpnPasswordV6=Akihabara
vpn.vpnIdStringV6=testv6@tsukuba.ac.jp
#vpn.vpnCertFileV6=/path/to/cert
#vpn.vpnCaCertFileV6=/path/to/cacert
#vpn.vpnRsaKeyFileV6=/path/to/rsakey
#vpn.vpnSpecifyIssuerV6=
vpn.vpnPhase1ModeV6=Aggressive
vpn.vpnPhase1CryptoV6=3DES
vpn.vpnPhase1HashV6=SHA-1
vpn.vpnPhase1LifeSecondsV6=7200
vpn.vpnPhase1LifeKilobytesV6=0
vpn.vpnWaitPhase2BlankSpanV6=100
vpn.vpnPhase2CryptoV6=3DES
vpn.vpnPhase2HashV6=SHA-1
vpn.vpnPhase2LifeSecondsV6=7200
vpn.vpnPhase2LifeKilobytesV6=0
vpn.vpnPhase2StrictIdV6=false
vpn.vpnConnectTimeoutV6=5
vpn.vpnIdleTimeoutV6=300
vpn.vpnPingTargetV6=2001:200:564:0:230:48ff:fe83:cf41
vpn.vpnPingIntervalV6=12
vpn.vpnPingMsgSizeV6=32

# TCP/IP
#ip.ipaddr=192.168.12.11
#ip.netmask=255.255.255.0
#ip.gateway=192.168.12.254
ip.use_dhcp=1

# ディスク暗号化鍵の指定。鍵データはいずれにしてもゲスト開始前に読み込まれる
# / または ./ で始まっていたらファイル名
#storage.encryptionKey0.place=IC
#storage.encryptionKey0.place=USB
storage.encryptionKey0.place=./StorageKey0

# ディスク暗号化の設定
#storage.conf0.type=ATA
storage.conf0.host_id=0
storage.conf0.device_id=0
#storage.conf0.lba_low=63
#storage.conf0.lba_high=12851999
storage.conf0.lba_low=527478210
storage.conf0.lba_high=605602304
storage.conf0.keyindex=0
storage.conf0.crypto_name=aes-xts
storage.conf0.keybits=256

storage.conf1.type=USB
storage.conf1.host_id=-1
storage.conf1.device_id=-1
storage.conf1.lba_low=0
storage.conf1.lba_high=0x7FFFFFFF
storage.conf1.keyindex=0
storage.conf1.crypto_name=aes-xts
storage.conf1.keybits=256

storage.conf2.type=ATAPI
storage.conf2.host_id=1
storage.conf2.device_id=0
storage.conf2.lba_low=0
storage.conf2.lba_high=1409024
storage.conf2.keyindex=0
storage.conf2.crypto_name=aes-xts
storage.conf2.keybits=256

# VMM
vmm.f11panic=0
vmm.f12msg=0
vmm.auto_reboot=1
vmm.panic_reboot=0
vmm.shell=0
vmm.dbgsh=0
vmm.status=0
vmm.tty_mac_address=FF-FF-FF-FF-FF-FF
vmm.tty_syslog.enable=0
vmm.tty_syslog.src_ipaddr=0.0.0.0
vmm.tty_syslog.dst_ipaddr=0.0.0.0
vmm.tty_pro1000=0
vmm.tty_x540=0
vmm.tty_ieee1394=0
vmm.driver.pci=
vmm.iccard.enable=0
vmm.iccard.status=0
vmm.boot_active=0
vmm.no_intr_intercept=0
vmm.ignore_tsc_invariant=0
vmm.unsafe_nested_virtualization=0
