struct config_data config = {
	.vpn = {
		.mode = "L3IPsec",
		.virtualGatewayMacAddress = "00-88-88-88-88-88",
		.bindV4 = "true",
		.guestIpAddressV4 = "192.168.100.1",
		.guestIpSubnetV4 = "255.255.255.0",
		.guestMtuV4 = "1400",
		/* .guestVirtualGatewayIpAddressV4 = "192.168.6.254", */
		.dhcpV4 = "true",
		.dhcpLeaseExpiresV4 = "3600",
		.dhcpDnsV4 = "192.168.3.254",
		.dhcpDomainV4 = "sec.softether.co.jp",
		.adjustTcpMssV4 = "1240",
		.hostIpAddressV4 = "192.168.12.11",
		.hostIpSubnetV4 = "255.255.255.0",
		.hostMtuV4 = "1500",
		.hostIpDefaultGatewayV4 = "192.168.12.254",
		.optionV4ArpExpires = "60",
		.optionV4ArpDontUpdateExpires = "true",
		.vpnGatewayAddressV4 = "192.168.11.1",
		.vpnAuthMethodV4 = "Password",
		.vpnPasswordV4 = "password1",
		.vpnIdStringV4 = "user1@tsukuba.ac.jp",
		.vpnCertV4 = "",
		.vpnCaCertV4 = "",
		.vpnRsaKeyV4 = "",
		.vpnSpecifyIssuerV4 = "false",
		.vpnPhase1ModeV4 = "Aggressive",
		.vpnPhase1CryptoV4 = "3DES",
		.vpnPhase1HashV4 = "SHA-1",
		.vpnPhase1LifeSecondsV4 = "7200",
		.vpnPhase1LifeKilobytesV4 = "0",
		.vpnWaitPhase2BlankSpanV4 = "100",
		.vpnPhase2CryptoV4 = "3DES",
		.vpnPhase2HashV4 = "SHA-1",
		.vpnPhase2LifeSecondsV4 = "7200",
		.vpnPhase2LifeKilobytesV4 = "0",
		.vpnConnectTimeoutV4 = "5",
		.vpnIdleTimeoutV4 = "300",
		.vpnPingTargetV4 = "192.168.3.120",
		.vpnPingIntervalV4 = "12",
		.vpnPingMsgSizeV4 = "32",
		.bindV6 = "false",
		.guestIpAddressPrefixV6 = "2000::",
		.guestIpAddressSubnetV6 = "64",
		.guestMtuV6 = "1400",

		.raV6 = "true",
		.raLifetimeV6 = "300",
		.raDnsV6 = "2001:dc4::1",
		.hostIpAddressV6 = "5000::1:2:3:4",
		.hostIpAddressSubnetV6 = "64",
		.hostMtuV6 = "1500",
		.hostIpDefaultGatewayV6 = "5000::254",
		.optionV6NeighborExpires = "60",
		.vpnGatewayAddressV6 = "1000::1",
		.vpnAuthMethodV6 = "Password",
		.vpnPasswordV6 = "Akihabara",
		.vpnIdStringV6 = "testv6@tsukuba.ac.jp",
		.vpnCertV6 = "",

		.vpnRsaKeyV6 = "",

		.vpnPhase1CryptoV6 = "3DES",
		.vpnPhase1HashV6 = "SHA-1",
		.vpnPhase1LifeSecondsV6 = "7200",
		.vpnPhase1LifeKilobytesV6 = "0",
		.vpnWaitPhase2BlankSpanV6 = "100",
		.vpnPhase1ModeV6 = "Aggressive",
		.vpnPhase2CryptoV6 = "3DES",
		.vpnPhase2HashV6 = "SHA-1",
		.vpnPhase2LifeSecondsV6 = "7200",
		.vpnPhase2LifeKilobytesV6 = "0",
		.vpnPhase2StrictIdV6 = "false",
		.vpnConnectTimeoutV6 = "5",
		.vpnIdleTimeoutV6 = "300",
		.vpnPingTargetV6 = "2001:200:564:0:230:48ff:fe83:cf41",
		.vpnPingIntervalV6 = "12",
		.vpnPingMsgSizeV6 = "32",
	},
	.storage = {
		.keys[0] = {
			0x26, 0x3f, 0xe6, 0xcd, 0xb7, 0xb8, 0xd8, 0xce,
			0x32, 0x6e, 0x13, 0xdc, 0x08, 0xaa, 0x69, 0x15,
			0xf9, 0xd8, 0x1d, 0x8a, 0xc6, 0x20, 0xca, 0x5c,
			0x92, 0xaa, 0x0f, 0x73, 0x4f, 0x74, 0x8d, 0xed,
		},
		.keys_conf[0] = {
			.guid =		STORAGE_GUID_NULL,
			.type =		STORAGE_TYPE_NULL,
			.host_id =	0,
			.device_id =	0,
			.lba_low =	63ULL,
			.lba_high =	12851999ULL,
			.crypto_name =	"aes-xts",
			.keyindex =	0,
			.keybits =	256,
		},
		.keys_conf[1] = {
			.guid =		STORAGE_GUID_NULL,
			.type =		STORAGE_TYPE_USB,
			.host_id =	0,
			.device_id =	0,
			.lba_low =	0ULL,
			.lba_high =	0x7fffffffULL,
			.crypto_name =	"aes-xts",
			.keyindex =	0,
			.keybits =	256,
		},
		.keys_conf[2] = {
			.guid =         STORAGE_GUID_NULL,
			.type =         STORAGE_TYPE_ATAPI,
			.host_id =      1,
			.device_id =    0,
			.lba_low =      0ULL,
			.lba_high =     1409024ULL,
			.crypto_name =  "aes-xts",
			.keyindex =     0,
			.keybits =      256,
		},

	},
	.vmm = {
		.f11panic = 1,
		.f12msg = 1,
		.auto_reboot = 1,
		.panic_reboot = 0,
		.shell = 1,
		.dbgsh = 1,
		.no_intr_intercept = 0,
		.ignore_tsc_invariant = 0,
		.unsafe_nested_virtualization = 0,
		.tty_mac_address = {
			0xFF, 0xFF, 0xFF, 0xFF, 0xFF, 0xFF
		},
		.tty_syslog = {
			.enable = 0,
			.src_ipaddr = { 0, 0, 0, 0 },
			.dst_ipaddr = { 0, 0, 0, 0 },
		},
		.tty_pro1000 = 0,
		.tty_rtl8169 = 0,
		.tty_x540 = 0,
		.tty_ieee1394 = 0,
		.driver = {
			.pci = "",
		},
		.iccard = {
			.enable = 0,
			.status = 0,
		},
	},
};
