/* key configuration file */

static u8 storage_keys[8][32] = {
	{  
		0x26, 0x3f, 0xe6, 0xcd, 0xb7, 0xb8, 0xd8, 0xce, 0x32, 0x6e, 0x13, 0xdc, 0x08, 0xaa, 0x69, 0x15,
		0xf9, 0xd8, 0x1d, 0x8a, 0xc6, 0x20, 0xca, 0x5c, 0x92, 0xaa, 0x0f, 0x73, 0x4f, 0x74, 0x8d, 0xed,
	},
};

/* key is used if guid or {type, host_id, device_id} is matched */
static struct storage_keys_conf storage_keys_conf[] = {
	{
		.guid =		STORAGE_GUID_NULL,	// NULL will not match any device
		.type =		STORAGE_TYPE_ATA,	// ATA, ATAPI or USB
		.host_id =	0,			// STORAGE_HOST_ID_ANY will match any host
		.device_id =	0,			// STORAGE_DEVICE_ID_ANY will match any device
		.lba_low =	63ULL,			// "Start" value of "fdisk -lu" (64bit)
		.lba_high =	12851999ULL,		// "End" value of "fdisk -lu" (64bit)
		.crypto_name =	"aes-xts",		// only "aes-xts" is currently supported
		.keyindex =	0,			// index of the "storage_keys" array 
		.keybits =	256,			// { 256bit, 384bit, 512bit }
	},
};
